{% extends 'base.html' %}
{% block title %}Счета{% endblock %}
{% block head %}
    <meta http-equiv="refresh" content="1">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Открытые счета</h1>
            </div>
            <div class="col">
                <h2>hseguest/hsepassword</h2>
            </div>
            <div class="col">
                <h1 style="float: right"><a href="https://vk.com/hsekv">vk.com/hsekv</a></h1>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
    {% for accs in [accs1, accs2] %}
    <div class="col">
    <table class="table table-striped thead-light table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>№ участника</th>
                <th>Имя</th>
                <th>Монеток</th>
            </tr>
        </thead>
        <tbody>
            {% for acc in accs %}
            <tr class="{{ 'table-primary' if acc.small_id == max_acc.small_id }}">
                <td>{{ acc.small_id }}</td>
                <td>{{ acc.name }}</td>
                <td>{{ acc.balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
